/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  :root{
    --white: #fff1f2;
    --darkBlue: #172554;
    --skyBlue: #38bdf8;
  }

  body{
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  button:hover{
    cursor: pointer;
  }

.container{
    max-width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    grid-auto-rows: 350px;
    gap: 10px;
}

.card{
    border: 3px solid var(--darkBlue);
    background-color: var(--darkBlue);
    border-radius: 20px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--white);
}

.card > div {
    border-bottom: 1px solid var(--white);
    align-content: center;
}

.new-button-container{
    display: flex;
    padding: 20px;
}

.new-button-container button{
    background-color: var(--darkBlue);
    padding: 20px;
    width: 100px;
    height: 100px;
    border: 3px solid var(--white);
    border-radius: 50%;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover, .new-book-btn:hover{
    box-shadow: 0px 0px 35px 0px rgba(138,138,138,1);
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.1s;
}

dialog {
  justify-self: center;
  margin-top: 20vh;
  min-height: 45vh;
  min-width: 500px;
  max-width: 45vw;
  border-radius: 20px;   
}

.new-book-form {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 10px;
  gap: 5px;
  font-size: 1.1rem;
}

.form-row{
display: grid;
grid-template-rows: 30px 30px;
gap: 2px;
}

.form-row-choice{
  padding-top: 4px;
}

.new-book-form > .form-row:last-of-type{
  padding-top: 20px;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.cancel-btn, .submit-btn{
  background-color: white;
  padding: 0px 20px;
  border-radius: 5px;
  border: 1px solid lightgray
}

.submit-btn{
  background-color: #172554;
  color: white;
}

.submit-btn:hover{
  background-color: #1e1b4b;
  transition: all 0.2s;
}

.cancel-btn:hover{
  background-color: #fff1f2;
  transition: all 0.2s
}

input {
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #172554;
  outline: none;
}

.remove-btn {
  border: #fff1f2;
  border-radius: 5px;
  float: right;
}

.remove-btn:hover{
  cursor: pointer;
}

.title-text{
  color:#172554;
  min-height: 8vh;
  max-height: fit-content;
  padding: 20px;
  box-shadow: 0px 0px 20px 0px rgba(23,37,84,1);
}